<%= form_with model: [post, comment], url: post_comments_path(post), method: :POST, local: false do |f| %>
<div class='form-group my-5 d-flex'>
  <div class='col-10 ms-2'>
    <%= f.text_area :body, size: "70x3", class:"form-control rounded", id: "inputBody", placeholder:"コメント"  %>
  </div>
  <div class='col-2 text-center'>
    <%= f.submit "投稿", class: "btn btn-success mt-5" %>
  </div>
</div>
<% end %>