<div class="row">
  <%= form_with(url: search_path, method: "post", local: false) do |f| %>
  <div class="search-form">
    <%= f.text_field :query, class:"form-control rounded w-75", placeholder: "検索" %>
    <%#= f.submit %>
  </div>
  <% end %>
</div>
