<div class="row">
  <%= form_with(url: search_path, method: "post", local: false) do |f| %>
  <div class="search-form">
    <%= f.text_field :query, placeholder: "検索" %>
    <%= f.submit "検索", class:"search-form-submit" %>
  </div>
  <% end %>
</div>
