<h2>Users</h2>
<% @user_results.each do |user| %>
  <p><%= user.name %></p>
<% end %>

<h2>Posts</h2>
<% @post_results.each do |post| %>
  <p><%= post.body %></p>
<% end %>

<!--<h2>Labels</h2>-->
<!--% @label_results.each do |label| %>-->
<!--  <p>%= label.name %></p>-->
<!--% end %>-->