<div class="container g-0">
  <div class="row about">
    <div class="col m-5 text-center">
      <div class="my-5"><p class="h4">
        頑張りを記録、シェアして仲間を見つける、<br>
        あなたの成長を共に歩む場所になる、SNSコミュニティサイト<br>
      </p></div>
      <div><p class="h5 about">
        私は、社会人として業務を進める中で、「時間の使い方」は、その後の自分の成長に直結する、とても重要なことだと痛感しました。<br>
        仕事以外の時間には、自己学習や体調管理のための運動、更には家事やリラックスする時間など、多岐にわたる活動があります。<br>
        これらを効率的に行うためには、まず自分が「何にどの程度の時間を費やしているか」を明確に把握することが不可欠だと考えました。<br>
        そのため、ワンクリックで作業の開始と終了時間を記録し、どんな活動も簡単に記録できるシンプルで柔軟性のあるサービスを求めていました。<br>
        <br>
        近年では、リスキリングの重要性が強調され、社会的にも自己学習が推奨されていると感じます。<br>
        リスキリングのために自己学習に励む方が直面する課題として、以下のようなものが挙げられます。<br>
        <br>
        「時間が不足している」<br>
        「成長の実感が得られない」<br>
        「モチベーションが続かない」<br>
        <br>
        また、コロナ禍で運動不足となった人も多く、健康増進のため定期的な運動に励む方が直面する課題も同様です。<br>
        これらの課題を解決するため、私は次のようなアプローチを取りました。<br>
        <br>
        「活動時間の可視化とタイムマネジメントの実現」<br>
        「活動記録の振り返りと共有」<br>
        「コミュニティ形成」<br>
        <br>
        これらの機能を備えたサービスを開発することで、利用者がより効果的に自己成長に取り組める環境を提供することを目指しました。<br>
      </p></div>
    </div>
  </div>
</div>