<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
        <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
    </div>
    <div class='col-6 border py-5'>
      <p class="h4 text-center py-3">ページが見つかりません</p>
      <p class="h5 p-3">
        お探しのページは見つかりませんでした。<br>
        ご指定いただいたアドレスが間違っているか、ページが移動または削除された可能性があります。
      </p>
    </div>
    <div class='col-3 border py-5'>
      <%= render 'public/searches/form' %>
      <div id="search_results">
        <% if @search_results.present? %>
          <%= render 'public/searches/result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>