<h1><%= @user.name %> 様、ご利用ありがとうございました。</h1>


<h3>effort journeyの退会が完了しました。</h3>
<p>再度ご利用いただく際は、同じメールアドレスをご利用いただくことはできませんので、ご注意ください。</p>
<p>https://effortjourney.com/</p>

<p>※このメールはシステムより自動で送信されているメールです。このメールに返信することは出来ませんのでご注意ください。</p>
