<h1>ようこそ、<%= @user.name %>様</h1>


<h3>effort journeyへのご登録ありがとうございます。</h3>
<p>https://effortjourney.com/</p>

<p>アプリケーションの使い方<br>
https://effortjourney.com/about</p>

<p>プロフィールの確認/編集<br>
https://effortjourney.com/settings/profile</p>

<p>※このメールはシステムより自動で送信されているメールです。このメールに返信することは出来ませんのでご注意ください。</p>
