<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">ラベル一覧</h5>
      <%= render 'admin/labels/list', labels: @labels %>
    </div>
  </div>
</div>
