<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">投稿一覧</h5>
      <%= render 'admin/posts/list', posts: @posts %>
      <div class="row">
        <div class="col-2 offset-5">
          <span class="">
            <%= paginate @posts, param_name: :page_posts, theme: 'twitter-bootstrap-4' %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
