<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
      <%= render 'public/users/info', user: current_user %>
    </div>
    <div class='col-6 border py-5'>
      <!--%= render 'post/list', posts: @posts %>-->
    </div>
    <div class='col-3 border py-5'>
      <!--%= render 'カレンダー&グラフ', xxx: @xxx %>-->
    </div>
  </div>
</div>