<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
      <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
    </div>
    <div class='col-6 border py-5'>
      これはshowViewです
      <%= render 'public/posts/list', posts: @posts %>
    </div>
    <div class='col-3 border py-5'>
      <!--%= render 'カレンダー&グラフ', xxx: @xxx %>-->
    </div>
  </div>
</div>